<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tiku5155"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Activity.CZJL"
            android:exported="false" />
        <activity
            android:name=".Activity.ETC_YUE"
            android:exported="false" />
        <activity
            android:name=".Activity.ETC_CZ"
            android:exported="false" />
        <activity
            android:name=".Activity.MainActivity62"
            android:exported="false" />
        <activity
            android:name=".Activity.MainActivity61"
            android:exported="false" />
        <activity
            android:name=".Activity.MainActivity60"
            android:exported="false" />
        <activity
            android:name=".Activity.MainActivity59"
            android:exported="false" />
        <activity
            android:name=".Activity.Video"
            android:exported="false" />
        <activity
            android:name=".Activity.CXJG"
            android:exported="false" />
        <activity
            android:name=".Activity.MainActivity57"
            android:exported="false" />
        <activity
            android:name=".Activity.MainActivity58"
            android:exported="false" />
        <activity
            android:name=".Activity.MainActivity56"
            android:exported="false" />
        <activity
            android:name=".Activity.Bus_Route"
            android:exported="false" />
        <activity
            android:name=".Activity.MainActivity53"
            android:exported="false" />
        <activity
            android:name=".Activity.MainActivity55"
            android:exported="false" />
        <activity
            android:name=".Activity.WDSC"
            android:exported="false" />
        <activity
            android:name=".Activity.MainActivity64"
            android:exported="false" />
        <activity
            android:name=".Activity.MainActivity51_52"
            android:exported="false" />

        <service android:name="com.amap.api.location.APSService" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="d63d4a3c62928e7f93feee36a8d27a06" />

        <activity
            android:name=".Activity.XXXX"
            android:exported="false" />
        <activity
            android:name=".Activity.LJZF"
            android:exported="false" />
        <activity
            android:name=".Activity.GWC"
            android:exported="false" />
        <activity
            android:name=".Activity.MainActivity63"
            android:exported="false" />
        <activity
            android:name=".Activity.MainActivity54"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>